* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(17, 24, 39, 1);

    color: #fff;
    overflow-x: hidden;
}

header nav .logo {
    width: 75px;
    margin-left: 2em;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;

    margin-top: 0em;
    margin-bottom: 2em;

    z-index: 100;

    transition-duration: 1s;
    transition-property: background-color;
}

header nav i {
    margin-left: 3em;
    margin-right: 0.6em;
}

header nav a {
    color: var(--principal);
    margin-right: 10px;
    text-transform: uppercase;
    position: relative;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;
}